<mat-toolbar class="app-header">
  <span class="app-header__brand">
    <mat-icon>foundation</mat-icon>
    Alpha Builders
  </span>

  <span class="app-header__spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="userMenu" aria-label="Account menu">
    <span class="app-header__avatar">{{ initials() }}</span>
  </button>

  <mat-menu #userMenu="matMenu">
    <div class="app-header__menu-email">{{ currentUser()?.email }}</div>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
