<div class="portal">
  <mat-toolbar class="portal__bar">
    <span class="portal__brand">
      <app-logo-mark [size]="24" [inline]="true" gap="var(--mat-sys-surface, #fff)" />
      Sukun Builders
    </span>
    <span class="portal__spacer"></span>

    <button mat-button [matMenuTriggerFor]="menu" class="portal__account">
      <mat-icon>account_circle</mat-icon>
      <span class="portal__name">{{ user()?.name }}</span>
      <mat-icon>arrow_drop_down</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <div class="portal__menu-email">{{ user()?.email }}</div>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Sign out</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <main class="portal__content">
    <router-outlet />
  </main>
</div>
